.app-navigation {
  height: 90%;
}

@media only screen and (max-width: 600px) {
  .app-navigation {
    width: 95vw;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 600px) {
  .app-navigation {
    width: 80vw;
  }
}

@media only screen and (min-width: 1500px) {
  .app-navigation {
    width: 1400px;
  }
}

.app-navigation {
  animation-duration: 0.4s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;
  }
}

.app-menu-trigger {
  position: absolute;
  right: var(--spacing-1);
  top: var(--spacing-1);
}

.app-navigation .interlock_list a {
  color: var(--color-black);
}
