.app-navigation {
  height: 80%;
}

app-navigation .interlock_list a {
  color: var(--color-black);
}

.app-menu-trigger {
  background-color: transparent;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 50px;
}

.interlock_modal-close-button {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  padding: var(--spacing-1)
}

@media only screen and (max-width: 600px) {
  .app-navigation {
    width: 90vw;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 1500px) and (min-width: 600px) {
  .app-navigation {
    width: 80vw;
  }
}

@media only screen and (min-width: 1500px) {
  .app-navigation {
    width: 1400px;
  }
}

