@import url("../../../packages/ui/design-tokens/design-tokens.css");

:root {
  --spacing-0: 0.1rem;
}

.homepage-navigation,
.homepage-footer {
  background-color: var(--color-black);
  color: var(--color-white);
}

.homepage-footer {
  position: sticky;
  bottom: 0;
}

.homepage-footer a,
.homepage-navigation a {
  color: var(--color-white);
}

.homepage-navigation a {
  text-decoration: none;
}

.mdx-container {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.mdx-container li {
  margin-bottom: 1.5rem;
}


.mdx-container hr {
  margin-bottom: var(--spacing-3);
  margin-top: var(--spacing-2);
}

.interlock-docs_navigation {
  min-width: 200px;
}
.interlock-docs_navigation .interlock_link {
  padding-bottom: var(--spacing-1);
  width: 100px;
  display: block;
}
