@import url("../../../packages/ui/design-tokens/design-tokens.css");

body {
  margin: 0;
}

.app-container {
  height: 100vh;
}


.header-text {
  text-decoration: none;
  text-transform: none;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-0) var(--spacing-1);
  position: sticky;
  top: 0;
}

.app-content {
  padding: var(--spacing-2);
}
