:root {
  --color-red: red;
  --color-blue: blue;
  --color-black: black;
  --color-white: white;
  --color-yellow: yellow;
  --spacing-0: 0;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --text-size-small: 0.5rem;
  --text-size-medium: 1rem;
  --text-size-large: 1.5rem;
}