:root {
  --color-red: red;
  --color-blue: blue;
  --color-black: black;
  --color-white: white;
  --color-gray: gray;
  --color-yellow: yellow;
  --color-gray: gray;
  --color-list-marker: gray;
  --spacing-0: 0;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --text-size-x-small: 0.8rem;
  --text-size-small: 1.0rem;
  --text-size-medium: 1.5rem;
  --text-size-large: 2.0rem;
  --text-line-height-x-small: 1.5rem;
  --text-line-height-small: 2.0rem;
  --text-line-height-medium: 2.5rem;
  --text-line-height-large: 3.0rem;
  --box-border-radius: 3px;
}

/** Paddings */
.interlock_padding-small {
  padding: var(--spacing-1)
}

.interlock_padding-medium {
  padding: var(--spacing-2)
}

.interlock_padding-large {
  padding: var(--spacing-2)
}

.interlock_padding-x-large {
  padding: var(--spacing-3)
}

/** Margins **/
.interlock_margin-small {
  margin: var(--spacing-1)
}

.interlock_margin-medium {
  margin: var(--spacing-2)
}

.interlock_margin-large {
  margin: var(--spacing-2)
}

.interlock_margin-x-large {
  margin: var(--spacing-3)
}
