:root {
  --color-red: red;
  --color-blue: blue;
  --color-black: black;
  --color-white: white;
  --color-gray: gray;
  --color-yellow: yellow;
  --color-gray: gray;
  --color-list-marker: gray;
  --spacing-0: 0;
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;
  --text-size-x-small: 0.8rem;
  --text-size-small: 1.0rem;
  --text-size-medium: 1.5rem;
  --text-size-large: 2.0rem;
  --text-line-height-x-small: 1.5rem;
  --text-line-height-small: 2.0rem;
  --text-line-height-medium: 2.5rem;
  --text-line-height-large: 3.0rem;
  --box-border-radius: 3px;
}

body {
  margin: unset
}
